extends layout.pug

block content
  body
    h1 #{title}
    include search-form
    if searched
        p
          a.button(href='/') Clear Search
    p
      a.button(href='/books/new') Create New Book
    table
      thead
        tr
          th Title
          th Author
          th Genre
          th Year
      tbody
        each book in books
          tr
            td
              a(href=`/books/${book.id}`) #{book.title}
            td #{book.author}
            td #{book.genre}
            td #{book.year}
    P
    - var n = 0;
      while n < (count/7)
        if query
          a.page(href=`/books/${route}?offset=${n * 7}&query=${query}`)= n++ + 1
        else
          a.page(href=`/books/${route}?offset=${n * 7}`)= n++ + 1
      
      
      